/Aula3/AdC1/nbproject/private/
/Aula3/AdC1/build/
/Aula3/Aula2/nbproject/private/
/Aula3/Aula2/build/
/Fichas/AdC1/build/
/Fichas/AdC1/nbproject/private/
/Fichas/Aula2/build/
/Fichas/Aula2/nbproject/private/
/Fichas/Aula5/nbproject/private/
/Fichas/Aula5/build/
/Fichas/Aula6/nbproject/private/
/Fichas/Ficha7/nbproject/private/
/Fichas/Ficha7/build/